VITE_SUPABASE_URL=https://dspyvgjkfzzedgukiqul.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRzcHl2Z2prZnp6ZWRndWtpcXVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwMzg1NzgsImV4cCI6MjA5ODYxNDU3OH0.qZcA7gjWk-zk1v04y6Bodq4fBDjRhhLWjXjDG5PC63Y
